body {
    background-color: #f4f4f4;
    padding-bottom: 50px;
    margin: 0;
}

/* HERO */
#hero {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* pewność że nic nie wystaje */
}

#hero-project {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* pewność że nic nie wystaje */
}

#hero::before,
#hero::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

#hero::before {
    left: 0;
    background-image: url('images/hero_1.jpg');
}

#hero::after {
    right: 0;
    background-image: url('images/hero_2.jpg');
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #f9f9f9;
}

.hero-content h1 {
    text-shadow: 0 0 30px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 1);
    font-size: 3rem;
    margin: 0;
}

.hero-content p {
    margin-top: 10px;
    font-size: 1.4rem;
}

@media (max-width: 768px) {

    /* wyłącz pseudo-elementy (dwa obrazy znikają) */
    #hero::before,
    #hero::after {
        display: none;
    }

    /* ustaw jeden obraz jako background sekcji */
    #hero {
        background-image: url('images/hero_1.jpg');
        /* tu wstaw obraz dla telefonu */
        background-size: cover;
        background-position: center;
    }
}

#main-container {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 1000px;
}

#projects-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1000px;
}

.tile {
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: fit-content;
    overflow: hidden;
    height: fit-content;
      border: 1px solid white;
    max-width: 300px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tile:hover {
    cursor: pointer;
    border: 1px solid black;
  transform: scale(1.03);
}

.tile img {
    width: 100%;
    aspect-ratio: 4/3;
    object-position: center;
    object-fit: contain;
    border-bottom: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px 10px 0px 0px;
}

.tile-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 4px;
    text-align: left;
    width: 90%;
}

.tile-subtitle {
    font-size: 15px;
    width: 90%;
    text-align: left;
}

.tile-style {
    font-size: 15px;
    width: 90%;
    text-align: left;
}